.navbar-brand {
    & img {
    height: 100px;
    width: 100px;
    }
}
#navbarNav {
    justify-content: right;
    margin-right: 2em;
    & .nav-link{
        font-size: 1.2rem;
        // color: map-get($map: $typeColor, $key: 'principal') !important;
    }
    & .nav-link:hover {
        color: map-get($map: $typeColor, $key:'success') !important;
        border: 1px solid map-get($map: $typeColor, $key:'success');
        border-radius: 50px;
    }
}
.navbar-toggler-icon{
    background-color: rgba(255, 255, 255, 0.637);
}
