video {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    object-position: center;
    object-fit: cover;
    opacity: 0.8;
}

.in{
    color: rgb(196, 186, 44) !important;
    text-decoration-line: line-through;
}
.st, .ga, .co, .no{
    color: map-get($map: $typeColor, $key: 'principal') !important;
}
.container {
    & h1 {
    margin-top: 7%;
    margin-left: 0.6%;
    color: map-get($map: $typeColor, $key: 'secundario') !important;
    }
    & h2{
        color: map-get($map: $typeColor, $key: 'secundario');
        font-size: 6rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 700;
    }
}
.button{
    margin-bottom: 12%;
    & .btn{
        color: map-get($map: $typeColor, $key: 'success');
        margin-top: 3%;
        border-radius: 50px;
    }
}
.animated__animated.animate__bounceIn{
    animation-duration: 2s;
}



