.container {
    & h1 {
    margin-top: 7%;
    color: map-get($map: $typeColor, $key: 'secundario') !important;
    }
    & h2{
        color: map-get($map: $typeColor, $key: 'secundario');
        font-size: 6rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 700;
    }
}
.button{
    margin-bottom: 12%;
    & .btn{
        color: map-get($map: $typeColor, $key: 'success');
        margin-top: 3%;
    }
}
.animated__animated.animate__bounceIn{
    animation-duration: 2s;
}



